html {
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    max-width: 800px;
}

header {
    background-color: green;
    color: white;
    line-height: 2;
}

.new-note {
    background: #ddd;
}

ul {
    list-style-type: none;
}

li:nth-child(odd) {
    background-color: antiquewhite;
}

li:nth-child(even) {
    background-color: ghostwhite;
}

form div {
    margin-bottom: 0.5rem;
}