/* ------------ 导航栏 ------------ */

nav {
    /* 导航栏通高固定定位 */
    position: fixed;
    width: 75%;
    height: 100%;
    top: 0;
    /* 一开始是隐藏的. 隐藏的时候利用 left 属性定位, 则后面出现的时候同样要用 left 属性定位, 才能实现动画. 可以理解为两个关键帧. */
    left: -75%;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
}

/* 导航栏里的链接 */
nav>a:nth-child(n + 2) {
    display: block;
    width: 100%;
    margin-top: 0.2rem;
    padding: 1.2rem;
    background-color: #333;
    color: white;
    text-decoration: none;
}

/* 当鼠标悬浮在导航栏上的链接时, 应该让链接变色 */
nav>a:nth-child(n + 2):hover {
    background-color: #ddd;
    color: black;
}

nav img[alt="logo"] {
    width: 3rem;
    margin: 1rem;
}

/* ------------ 导航栏开关图标 ------------ */

/* 复选框不需要显示, 只是用来记录开关状态 */
input#nav-switch {
    display: none;
}

/* 开关图标的共同样式 */
label[for="nav-switch"]>img {
    display: inline-block;
    padding: 0.5rem;
    width: 2rem;
}

/* 当鼠标悬浮在开关图标时, 应该让开关图标变色 */
label[for="nav-switch"]>img:hover {
    background-color: gray;
    /* 颜色反转 */
    filter: invert(100%);
}

/* ≡ 图标, 用于打开导航栏 */
#show-nav {
    /* 这里 position 设为 absolute 而非 fixed, 则 ≡ 图标会随着滚动离开视口, 避免挡住文章. */
    position: absolute;
    top: 2rem;
    left: 2rem;
}

/* X 图标, 用于关闭导航栏 */
#hide-nav {
    position: fixed;
    /* 设置 z-index, 让 X 图标在导航栏上层 */
    z-index: 1;
    top: 1rem;
    /* 一开始是隐藏的 */
    right: calc(100% + 1rem);
}

/* 遮罩层, 用于关闭导航栏 */
#hide-nav-overlay {
    position: fixed;
    width: 25%;
    height: 100%;
    top: 0;
    /* 一开始是隐藏的 */
    right: -25%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* ------------ input#nav-switch:checked 时, 导航栏开启 (利用后续兄弟选择器) ------------ */

/* 导航栏出现 */
input#nav-switch:checked~nav {
    left: 0;
}

/* X 图标出现 */
input#nav-switch:checked~label[for="nav-switch"]>#hide-nav {
    right: calc(25% + 1rem);
}

/* 遮罩层出现 */
input#nav-switch:checked~label[for="nav-switch"]>#hide-nav-overlay {
    right: 0;
}